<section class="container consulta">
<header class="header">
  <h2>CONSULTA</h2>
</header>

<div class="cons">
  <button routerLink="/consulta-nome" class="botao1"></button>
  <p>NOME</p>
</div>

<div class="cons">
  <button routerLink="/consulta-aspirantado" class="botao1"></button>
  <p>DATA DE ASPIRANTADO</p>
</div>

<div class="cons">
  <button routerLink="/consulta-veiculo" class="botao1"></button>
  <p>VEÍCULO</p>
</div>

<div class="cons">
  <button routerLink="/inicio" class="botao1"></button>
  <p>VOLTAR</p>
</div>

  </section>
