header {
  text-align: center;
}

.cons {
  text-align: center;
}

.cons label {
  margin-left: 20px;
  margin-right: 20px;
}

.cons .botao {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 100px;
  height: 25px;
}

table,
th,
td {
  border: 1px solid rgb(218, 187, 187);
  border-collapse: collapse;
  background-color: rgb(146, 144, 144);
  margin-left: auto;
  margin-right: auto;
}
