
<section class="container cadastro">
  <header class="header">
    <h2>CONSULTA</h2>
  </header>
  <form>
    <div class="input-field">
      <label for="nome">Nome de batismo</label>
        <input
        name="nomeBatismo"
          type="text"
          class="input"
          id="cadastro"
          formControlName="nameBatismo"
        >
      <label for="nomeReal">Nome Real</label>
        <input
        name="nomeReal"
          type="text"
          class="input"
          id="nomeReal"
          formControlName="nameReal"
        >

      <label for="dataAsp">Data de Aspirantado</label>
        <input
        name="dataAsp"
          type="date"
          class="input"
          id="dataAsp"
          formControlName="dateAsp"
        >

      <label for="fechamento">Fechamento de Colete</label>
        <input
        name="fechamento"
          type="date"
          class="input"
          id="fechamento"
        >
      <label for="veiculo">veiculo</label>
        <input
        name="veiculo"
          type="text"
          class="input"
          id="veiculo"
        >
      <label for="marca">marca</label>
        <input
        name="marca"
          type="text"
          class="input"
          id="marca"
        >
      <label for="modelo">modelo</label>
        <input
        name="modelo"
          type="text"
          class="input"
          id="modelo"
        >
      <label for="placa">placa</label>
        <input
        name="placa"
          type="text"
          class="input"
          id="placa"
        >
      <label for="date">data do emplacamento</label>
        <input
        name="date"
          type="text"
          class="input"
          id="date"
        >
      <label for="combustivel">combustivel</label>
        <input
        name="combustivel"
          type="text"
          class="input"
          id="combustivel"
        >
    </div>
  </form>
</section>
